<div class="podcasts grid gallery header">
  <div>
    <div>Podcasts</div>
    <span>
      <button class="btn btn-primary">Sort</button>
      <button class="btn btn-primary">Feed</button>
      <button class="btn btn-danger">Sync</button>
    </span>
  </div>
  <div>

    <div class="podcast " *ngFor="let podcast of this.saveState.podcasts; let i = index; trackBy:saveState.trackById"
      (click)="podcastClick(i)">
      <img src="{{podcast.imageUrl}}" alt="">
      <!-- {{podcast.title}} -->
    </div>
    <div class="white-space"></div>
  </div>
</div>