<div class="podcasts grid gallery header">
  <div>
    <h1>Podcasts</h1>
    <span>
      <button class="btn btn-primary btn-lg">Sort</button>
      <div class="modal-parent modal" d-m="1" #dropdown>
        <button class="btn btn-primary" (click)="dropdownClick('1')">Feed</button>
        <div (click)="overlayClick('1', $event)" class="dropdown l" aria-labelledby="btnGroupDrop3" x-placement="bottom-start">
          <!-- <div style="height: 100%; width: 100%;"></div> -->
          <div></div>
          <div></div>
          <div><button>Okay</button><button>Cancel</button></div>
        </div>
      </div>
      <button class="btn btn-danger btn-sm">Sync</button>

      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
    </span>
  </div>
  <div>

    <div class="podcast " *ngFor="let podcast of this.saveState.podcasts; let i = index; trackBy:saveState.trackById"
      (click)="podcastClick(i)">
      <img src="{{podcast.imageUrl}}" alt="">
      <!-- {{podcast.title}} -->
    </div>
    <div class="white-space"></div>
  </div>
</div>
