#btnTest {
    width: 300;
    height: 200;
}

Button,
TextField {
    margin-bottom: 10;
}

.btn-primary {
    background-color: #CB1D00;
    margin-left: 0;
    margin-right: 0;
}

TextField {
    placeholder-color: #C4AFB4;
    color: black;
}

.podcast-list-image {
    width: 30%;
}

.podcast-list-info {
    width: 70%
}

.podcast {
    height: 200;
}