<div class='navigation nav-button-page '>

  <div class="nav-top-grid">
    <!-- <div></div> -->
    <button id='navButton' (click)="uiService.navigatoinButtonClick();" class="fas fa-bars nav-button" style="visibility: visible"></button>
    <button id='searchButton' (click)="uiService.searchButtonClick();" class="fas fa-search"></button>
    <button id='libraryButton' (click)="uiService.libraryButtonClick();" class="fas fa-podcast"></button>
    <button id='playlistButton' (click)="uiService.playlistButtonClick();" class="fas fa-bars"></button>
    <button id='unplayedButton' (click)="uiService.unplayedButtonClick();" class="fas fa-microphone"></button>
    <button id='downloadedButton' (click)="uiService.downloadedButtonClick();" class="fas fa-download"></button>
    <button id='nowPlayingButton' (click)="uiService.playerButtonClick();" class="fas fa-headphones"></button>
    <button id='refreshButton' (click)="uiService.refreshButtonClick();" class="fas fa-sync"></button>
    <button id='storeButton' (click)="uiService.storeButtonClick();" class="fas fa-store"></button>
    <button id='settingsButton' (click)="uiService.settingsButtonClick();" class="fas fa-cog"></button>
    <!-- <hr> -->
  </div>


</div>
