<div class='navigation nav-button-page '>

  <div class="grid nav-vertical scroll-y">
    <!--  <div></div> -->
    <div id='navButton' (click)="uiService.navigatoinButtonClick();" class="visible"><span class="fas fa-bars"></span>
      <span>rdfft</span></div>
    <div id='searchButton' (click)="uiService.searchButtonClick();"><span class="fas fa-search"></span>
      <input id="searchBox" type="search" (keyup)="searchKeyPress($event)" #searchBox> </div>
    <div id='libraryButton' (click)="uiService.libraryButtonClick();"><span class="fas fa-podcast"></span><span>Libary</span></div>
    <div id='playlistButton' (click)="uiService.playlistButtonClick();"><span class="fas fa-bars"></span><span>Playlist</span></div>
    <div id='unplayedButton' (click)="uiService.unplayedButtonClick();"><span class="fas fa-microphone"></span><span>Unplayed</span></div>
    <div id='downloadedButton' (click)="uiService.downloadedButtonClick();"><span class="fas fa-download"></span><span>Downloaded</span></div>
    <div id='nowPlayingButton' (click)="uiService.playerButtonClick();"><span class="fas fa-headphones"></span><span>Now
        Playing</span></div>
    <div id='refreshButton' (click)="uiService.refreshButtonClick();"><span class="fas fa-sync"></span><span>Refresh
        Podcasts</span></div>
    <div id='storeButton' (click)="uiService.storeButtonClick();"><span class="fas fa-store"></span><span>Store</span></div>
    <div id='settingsButton' (click)="uiService.settingsButtonClick();"><span class="fas fa-cog"></span><span>Settings</span></div>
    <div id='settingsButton' (click)="saveState.reset();"><span class="fas fa-cog"></span><span>Reset</span></div>
    <!-- <hr> -->
    <div>
      <span></span>
    </div>
  </div>


</div>
