.main-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 48px 273px auto;

  &.main-grid-off {

    grid-template-columns: 48px 0 auto;

    // .nav-text {
    //   visibility: hidden;
    // }
  }
}
