.nav-vertical {
  background-color: #303030;
  color: #fff;
  height: 100vh;
  grid-template-rows: repeat(auto-fit, 48px); }
  @media (min-width: 0px) and (max-width: 579.98) {
    .nav-vertical {
      color: yellow !important; } }
  .nav-vertical > * {
    max-width: 250px;
    background-color: inherit;
    color: inherit;
    display: grid;
    grid-template-columns: 48px auto;
    grid-gap: 5px;
    align-items: center;
    justify-items: left; }
    .nav-vertical > * :first-child {
      margin-left: 12px; }
    .nav-vertical > * :last-child {
      width: 90%; }
    .nav-vertical > * > input[type='text'] {
      background-color: #303030;
      max-width: 250px; }
    .nav-vertical > * svg {
      width: 40px; }

.full-height {
  height: 100vh; }
