/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
body {
  // position: absolute;
  // width: 100%;
  // bottom: 48px;
}

.parent-grid {
  display: grid;
  grid-template-rows: 85vh 15vh;
}

.navigation {
  // background-color: rgba(0, 99, 177, 1);
  background-color: #5d5a58;

  height: 100%;
}

.nav-top-grid {
  position: fixed;
  top: 48px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 48px);

  hr {
    border-width: 0.2px;
  }
}
// .default .player {
//   height: 48px;
//   position: absolute;
//   bottom: 0px;
//   background-color: black;
//   width: 100vw;
// }

.nav-bottom-grid {
  position: fixed;
  bottom: 48px;
  display: grid;
  grid-template-rows: repeat(auto-fill, 48px);

  hr {
    border-width: 0 0 0.2px 0;
  }

  // hr {
  //   width: 100%;
  //   border-width: 0.2px;
  //   color: lightgrey;
  // }
}

.nav-top-grid,
.nav-bottom-grid {
  button {
    height: 48px;
    width: 48px;
    border: none;
    background-color: inherit;
    color: rgb(255, 255, 255);
  }

  hr {
    width: 100%;
    // border-width: 0 0 0.2px 0;
    color: lightgrey;
  }

  #searchHolder {
    height: 48px;
    display: flex;
    align-items: center;
  }
}
