<div class='navigation navigation-page' [ngStyle]="{'visibility': uiService.navigationOpen ? 'visible' : 'hidden'}">

  <div class="nav-top-grid">
    <div></div>
    <!-- <div>asdf</div> -->
    <!-- <button id='searchButton' (click)="uiService.searchButtonClick();">Search</button> -->
    <div id="searchHolder">

      <input id="searchBox" type="search" (keyup)="searchKeyPress($event)">
    </div>
    <button class="btn" id='libraryButton' (click)="uiService.libraryButtonClick();">Library</button>
    <button class="btn" id='playlistButton' (click)="uiService.playlistButtonClick();">Playlist</button>
    <button class="btn" id='unplayedButton' (click)="uiService.unplayedButtonClick();">Unplayed</button>
    <button class="btn" id='downloadedButton' (click)="uiService.downloadedButtonClick();">Downloaded</button>
    <button class="btn" id='nowPlayingButton' (click)="uiService.playerButtonClick();">Now Playing</button>
    <button class="btn" id='refreshButton' (click)="uiService.refreshButtonClick();">Refresh Podcasts</button>
    <button class="btn" id='storeButton' (click)="uiService.storeButtonClick();">Podcast Store</button>
    <button class="btn" id='settingsButton' (click)="uiService.settingsButtonClick();">Settings</button>
    <!-- <hr> -->
  </div>

  <!-- <div class="nav-bottom-grid">
 
  </div> -->

</div>
