<div class="nav-top-grid nav-text" [ngStyle]="{'visibility': uiService.navigationOpen ? 'visible' : 'hidden'}">
  <!-- <div></div> -->
  <div></div>
  <button id='searchButton' (click)="uiService.searchOpenClick();">Search</button>
  <button id='libraryButton' (click)="uiService.libraryOpenClick();">Library</button>
  <button id='playlistButton' (click)="uiService.playlistOpenClick();">Playlist</button>
  <button id='unplayedButton' (click)="uiService.unplayedOpenClick();">Unplayed</button>
  <button id='downloadedButton' (click)="uiService.downloadedOpenClick();">Downloaded</button>
  <button id='nowPlayingButton' (click)="uiService.nowPlayingOpenClick();">Now Playing</button>
  <hr>
</div>
